@model IEnumerable<TestNet.Web.Models.Domain.Project>

@{
    ViewData["Title"] = "Index";
}

<br />
<br />

@Html.Partial("Create", new TestNet.Web.Models.Domain.Project())

<h2>Proyectos</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Proyect Name
            </th>
            <th>
                Users Account
            </th>
            <th>
                Created
            </th>            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersAccount)
            </td>          
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Home" asp-action="Jobs" asp-route-id="@item.Id">Add Task (Angular)</a>
            </td>
        </tr>
}
    </tbody>
</table>
